modules = ["nodejs-20", "web"]
run = "npm run start:dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:prod"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run"
author = 40853903
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:dev"

[[workflows.workflow]]
name = "Run Server"
author = 40853903
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80
