modules = ["nodejs-20", "web"]
run = "npm run start:dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40853903
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:dev"
